2004/FacesClientTutorial/WebContent/wsdl/com/ibm/odcb/tutorial/webservice/StockWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.tutorial.odcb.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.tutorial.odcb.ibm.com" xmlns:intf="http://webservice.tutorial.odcb.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.tutorial.odcb.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.tutorial.odcb.ibm.com" xmlns:intf="http://webservice.tutorial.odcb.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <element name="getQuote">
    <complexType>
     <sequence>
      <element name="symbol" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="QuoteDetail">
    <sequence>
     <element name="change" type="xsd:float"/>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="high" type="xsd:float"/>
     <element name="lastPrice" type="xsd:float"/>
     <element name="low" type="xsd:float"/>
     <element name="open" type="xsd:float"/>
     <element name="symbol" nillable="true" type="xsd:string"/>
     <element name="time" nillable="true" type="xsd:string"/>
     <element name="volume" type="xsd:float"/>
    </sequence>
   </complexType>
   <element name="getQuoteResponse">
    <complexType>
     <sequence>
      <element name="getQuoteReturn" nillable="true" type="impl:QuoteDetail"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getQuoteRequest">

      <wsdl:part element="intf:getQuote" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getQuoteResponse">

      <wsdl:part element="intf:getQuoteResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="StockWebService">

      <wsdl:operation name="getQuote">

         <wsdl:input message="intf:getQuoteRequest" name="getQuoteRequest"/>

         <wsdl:output message="intf:getQuoteResponse" name="getQuoteResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockWebServiceSoapBinding" type="intf:StockWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockWebServiceService">

      <wsdl:port binding="intf:StockWebServiceSoapBinding" name="StockWebService">

         <wsdlsoap:address location="http://localhost:9080/BrowserFrameworkTutorial/services/StockWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
